/* all */
@font-face{
    font-family: Metropolis;
    src: url(media/font/Metropolis-Thin.otf);
    }

*{
    margin: 0;
    padding: 0;
    font-family:'Metropolis';
}

ul {
    list-style-type: none;
}

/* menu */

.menu{
    height: 100px;
    background-color: #f7f3e4;
    position: relative;
}

.logo{
    height: 70px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.active {
    border-bottom: solid 1px black;
}

.voci div {
    cursor: pointer;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    color: black;
    font-size: 16px;
}

.voci div:hover{
    border-bottom: solid 1px black;
}

.iconeD img {
    cursor: pointer;
    width: 20px;
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}

.home img{
    width: 100%;
}

/* about */

.titolo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}

.container{
    width: 100%;
    text-align:center;
}

.container div{
    display: inline-block;
    vertical-align: middle;
} 

.gs{
    width: 33%;
    top: 0px;
    height: 400px;
}

.gc{
    width: 33%;
    height: 400px;
}

.gd{
    width: 33%;
    height: 400px;
}

.foto{
    /*width: 80%!important;*/
    height: 400px;
    width: auto!important;
}

.testo{
    font-size: 20px;
    width: 100%;
    text-align: justify;
}

/* shop */

.container{
    width: 100%;
    text-align:center;
}

.container div{
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
}

.img{
    max-height: 500px;
}

.shop1{
    width: 30%;
    border: solid 1px black;
}

.shop2{
    width: 30%;
    border: solid 1px black;
} 

.shop3{
    width: 30%;
    border: solid 1px black;
}

.fd{
    width: 50px!important;
    cursor: pointer;
}

.fs{
    width: 50px!important;
    cursor: pointer;
}    


/* social */ 

.containersocial{
    text-align: center;
    margin: 40px;
}

.containersocial img {
    width: 50%;
    margin: 20px;
}

/* contact */

.containercontact{
    text-align: center;
}

.contatti{
    width: 35%!important;

}